<h1>{{data.title}}</h1>
<div id="works-carousel" class="js-flickity is-fullscreen"
  data-flickity-options='{"autoPlay":2000, "wrapAround": true }'>
  {{#each imageDir as |img|}}
  <div class="carousel-cell" data-project={{../projectName}}>
    <div class="cell-image"><img src="/assets/Works/{{../projectName}}/{{img.fileName}}{{img.fileExt}}" alt="" />
    </div>
    <p class="cell-text">
      {{lookup ../data img.en}}
      <br>
      {{lookup ../data img.jp}}
    </p>
  </div>
  {{/each}}
</div>
<p>{{data.descriptionen}}<br>{{data.descriptionjp}}</p>
{{> (lookup . "project_details")}}