<div id="index-works" class="index-section clip-diagonal-top">
  <div class="background">
    <img src="assets/Background/bridge.svg" alt="Snow Bridge" id="bridge" />
    <img src="assets/Background/snow.svg" alt="Snow Bridge" id="snow" />
    <div id="cloud-snow">
      <img src="assets/Background/Cloud/cloud-snow1.svg" alt="Cloud Snow" id="cloud-snow1" width="250px" />
      <img src="assets/Background/Cloud/cloud-snow2.svg" alt="Cloud Snow" id="cloud-snow2" width="250px" />
      <img src="assets/Background/Cloud/cloud-snow3.svg" alt="Cloud Snow" id="cloud-snow3" width="250px" />
      <img src="assets/Background/Cloud/cloud-snow4.svg" alt="Cloud Snow" id="cloud-snow4" width="250px" />
    </div>
  </div>
  <div class="content">
    <h1>WORKS</h1>
    <div id="works-carousel" class="js-flickity no-page-dots"
      data-flickity-options='{"wrapAround": true, "autoPlay":2000 }'>
      {{#each work_list as |key|}}
      <a href="/work-details/{{this.folder}}" data-genre="{{this.genre}}" class="carousel-cell" id="{{this.folder}}">
        <div class="cell-image"><img src="assets/Works/{{this.folder}}/thumbnail.jpg" alt=""></div>
        <p class="cell-text">{{this.title}}</p>
      </a>
      {{/each}}
    </div>
    <a href="/works" class="cfa-button">
      <div id="cfa-top">ALL WORKS</div>
      <div id="cfa-bottom"></div>
    </a>
  </div>
</div>